*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins','sans-serif';
  box-sizing: border-box;
}

body{
  background-color: #e9e9e9; /**/
}
.icon {
  cursor: pointer;
  height: 2rem;
}
/*SECTIONS*/
section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* BUTTONS*/
.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1,
.btn-color-2:hover {
  background: rgb(53, 53, 53);
  color: white;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/*/////////////// HEADER SECTION /////////////////*/
#header{
  width: 100%;
  height: 15vh;
}
.container{
  padding: 30px 10%;
}
.name{
  font-size: 32px;
}
.name_style{
  color: black;
  font-weight: bold;
}
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
nav ul li,
.links2 ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a,
.links2 ul li a{
  color: black;
  text-decoration: none;
  font-size: 24px;
  position: relative;
}
nav ul li a::after,
.links2 ul li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: gray;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after,
.links2 ul li a:hover::after{
  width: 100%;
}
nav ul li a:hover,
.links2 ul li a:hover{
  color: gray;
  transition: 0.5s;
}

/*/////////////// PROFILE SECTION /////////////////*/
#profile{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -85px;
}
.profile_pic img{
  width: 500px;
  height: 500px;
  border-radius: 100%;
  margin-right: 80px;
}
.profile_summary{
  text-align: center;
  line-height: 1.8;
}
.intro{
  font-size: 16px;
}
.gray_color{
  color: gray;
  font-weight: bold;
}
h1{
  font-size: 48px;
}
.position{
  font-size: 28px;
}
.button_container{
  margin-top: 15px;
}
.button{
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.download_button{
  border: 1px solid black;	
  background-color: #e9e9e9; /**/
  margin-right: 15px;
}
.download_button:hover{
  background-color: black;
  color: white;
}
.contact_button{
  background-color: black;
  color: white;
}
.contact_button:hover{
  background-color: gray;
}
.social_media_container a{
  text-decoration: none;
}
.social_media{
  height: 32px;
  margin-right: 15px;
}

/*/////////////// ABOUT SECTION  /////////////////*/
#about {
  position: relative;
  margin-top: -85px;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  text-align: center;
  line-height: 2;
}

.text-container{
  text-align: justify;
  line-height: 2;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* Skills SECTION */

#skills {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
}

.contact-details {
  max-width: 300px;
  text-align: left;
}

.contact-details p {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.contact-details i {
  margin-right: 10px;
  color: black;
}

.social-media a {
  color: #fff;
  margin-right: 10px;
  text-decoration: none;
  font-size: 24px;
}

.download-cv {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 2rem;
}

.contact-form {
  margin-left: 20px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  border: 1px solid;
  padding: 15px ;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 500px;
}

.contact-form button {
  background-color: black;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 2rem;
}

.contact-form button:hover,
.download-cv:hover {
  background-color: gray;
}

#status_message{
  margin-top: 10px;
}

.invalid{
  color: red;
}

.sent{
  color: green;
}

/* FOOTER SECTION */

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer p {
  text-align: center;
  color: gray;
  margin-top: 30px;
  margin-bottom: 20px;
}